<launch>

    <node pkg="billy_rosserial" type="billy_rosserial_rasp.py" name="billy_rosserial_rasp_node" output="screen">
    </node>

    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node>

    <node pkg="rosserial_python" type="serial_node.py" name="billy_v1_serial_node" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
    <param name="baud" value="57600" />
    </node>

</launch>
