<?xml version="1.0" encoding="utf-8"?>
<robot name="billy_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- BGN - Include -->
  <xacro:include filename="$(find billy_arm)/config/robot_param.xacro" /> 
  <xacro:include filename="$(find billy_arm)/config/billy_links_joints.xacro" /> 
  <!-- END - Include -->

    <!-- Joint, link and color of components -->

    <link name="base_footprint"/>
    <joint name="base_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="base_footprint"/>
      <child link="base_link"/>
    </joint>

    <link name="odom"/>
    <joint name="odom_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="odom"/>
      <child link="base_footprint"/>
    </joint>

    <link name="base_link">
      <visual>
        <geometry>
          <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_New_Stage.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 1.57"/>
      </visual>
      <collision>
        <geometry>
          <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_New_Stage.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 1.57"/>
      </collision>
      <inertial>
        <origin xyz="0.0 0 0"/>
        <mass value="10.0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                 iyy="0.01" iyz="0.0" 
                 izz="0.03"/>
      </inertial>
    </link>
    <gazebo reference="base_link">
      <material>Gazebo/White</material>
    </gazebo>

    <joint name="stand_1_joint" type="fixed">
      <origin xyz="0.108 0.108 -0.005" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="stand_1_link" />
    </joint>
    <link name="stand_1_link">
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/VisM6x40.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/VisM6x40.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </collision>
      <!--inertial>
        <origin xyz="0.0 0 0"/>
        <mass value="1.0"/>
        <inertia ixx="0.019995" ixy="0.0" ixz="0.0"
                 iyy="0.019995" iyz="0.0" 
                 izz="0.03675" />
      </inertial-->
    </link>
    <gazebo reference="stand_1_link">
      <material>Gazebo/Grey</material>
    </gazebo>

    <joint name="stand_2_joint" type="fixed">
      <origin xyz="-0.108 0.108 -0.005" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="stand_2_link" />
    </joint>
    <link name="stand_2_link">
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/VisM6x40.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/VisM6x40.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </collision>
      <!--inertial>
        <origin xyz="0.0 0 0"/>
        <mass value="1.0"/>
        <inertia ixx="0.019995" ixy="0.0" ixz="0.0"
                 iyy="0.019995" iyz="0.0" 
                 izz="0.03675" />
      </inertial-->
    </link>
    <gazebo reference="stand_2_link">
      <material>Gazebo/Grey</material>
    </gazebo>

    <joint name="stand_3_joint" type="fixed">
      <origin xyz="-0.108 -0.108 -0.005" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="stand_3_link" />
    </joint>
    <link name="stand_3_link">
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/VisM6x40.stl"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.0"/> 
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/VisM6x40.stl"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.0"/>
      </collision>
    </link>
    <gazebo reference="stand_3_link">
      <material>Gazebo/Grey</material>
    </gazebo>

    <joint name="stand_4_joint" type="fixed">
      <origin xyz="0.108 -0.108 -0.005" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="stand_4_link" />
    </joint>
    <link name="stand_4_link">
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/VisM6x40.stl"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.0"/> 
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/VisM6x40.stl"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.0"/>
      </collision>
    </link>
    <gazebo reference="stand_4_link">
      <material>Gazebo/Grey</material>
    </gazebo>

    <joint name="second_level_joint" type="fixed">
      <origin xyz="-0.108 -0.108 0.035" rpy="0 0 0" />
      <parent link="stand_1_link"/>
      <child link="second_level_link"/>
    </joint>
    <link name="second_level_link">
      <visual>
        <geometry>
          <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_New_Stage.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 1.57"/>
      </visual>
      <collision>
        <geometry>
          <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_New_Stage.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 1.57"/>
      </collision>
      <!--inertial>
        <origin xyz="0.01 0 0.7"/>
        <mass value="1.0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                 iyy="0.01" iyz="0.0" 
                 izz="0.03" />
      </inertial-->
    </link>
    <gazebo reference="base_second_link">
      <material>Gazebo/White</material>
    </gazebo>

    <!--<joint name="lidar_shield_joint" type="fixed">
      <origin xyz="0 0 0.01" rpy="0 0 0" />
      <parent link="second_level_link"/>
      <child link="lidar_shield_link" />
    </joint>
    <link name="lidar_shield_link">
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Shield_Lidar.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Shield_Lidar.stl"/>
        </geometry>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
      </collision>
    </link>
    <gazebo reference="lidar_shield_link">
      <material>Gazebo/Orange</material>
    </gazebo>

    <joint name="lidar_joint" type="fixed">
      <origin xyz="0 0 0.028" rpy="0 0 1.57" />
      <parent link="lidar_shield_link"/>
      <child link="lidar_link" />
    </joint>
    <link name="lidar_link">
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Lidar.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Lidar.stl"/>
        </geometry>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
      </collision>
    </link>
    <gazebo reference="lidar_link">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <joint name="laser_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="lidar_link"/>
      <child link="laser" />
    </joint>
    <link name="laser"></link> -->


    <m_link name="${l00}"
            mass="1"
            ixx="17.667" ixy="0.0" ixz="0.0"
            iyy="17.6670" iyz="0.0" 
            izz="17.6670"
            origin_rpy="1.5708 0 0" origin_xyz="0 0 0"
            scale_xyz="0.01 0.01 0.01"  pathfile="package://billy_description/meshes/Base_new.stl"/>

    <joint name="second_level_link__${l00}" type="fixed">
      <origin xyz="-0.05 0 0" rpy="0 0 1.57"/>
      <parent link="second_level_link"/>
      <child link="${l00}"/>
    </joint>


    <m_joint name="${l00}__${l01}" type="revolute"
           axis_xyz="0 0 1"
           limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5"
           origin_rpy="0 0 0" origin_xyz="0 -0.07 0.06"
           parent="${l00}" child="${l01}"/>

    <transmission name="trans_${l00}__${l01}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${l00}__${l01}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${l00}__${l01}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <m_link name="${l01}"
            mass="0.7633"
            ixx="1.3235" ixy="0.0" ixz="0.0"
            iyy="1.235" iyz="0.0" 
            izz="1.3235"
            origin_rpy="1.5708 0 1.5708" origin_xyz="0 0 0"
            scale_xyz="0.01 0.01 0.01"  pathfile="package://billy_description/meshes/Turning_mount.stl"/>

  <m_joint name="${l01}__${l02}" type="revolute"
           axis_xyz="0 0 1"
           limit_e="1000" limit_l="-2.8" limit_u="2.8" limit_v="0.5"
           origin_rpy="1.5708 1.5708 -1.5708" origin_xyz="-0.005 0.01 0.035"
           parent="${l01}" child="${l02}"/>

    <transmission name="trans_${l01}__${l02}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${l01}__${l02}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${l01}__${l02}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>*
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <m_link name="${l02}"
            mass="0.7906"
            ixx="1.2679" ixy="0.0" ixz="0.0"
            iyy="1.2679" iyz="0.0" 
            izz="0.0651"
            origin_rpy="0 0 0 " origin_xyz="-0.150 0 0"
            scale_xyz="0.01 0.01 0.01"  pathfile="package://billy_description/meshes/Link1.stl"/>

    <m_joint name="${l02}__${l03}" type="revolute"
           axis_xyz="1 0 0"
           limit_e="100" limit_l="-3.14" limit_u="3.14" limit_v="0.25"
           origin_rpy="1.5708 -1.5708 1.5708" origin_xyz="-0.15 0 0.002"
           parent="${l02}" child="${l03}"/>

    <transmission name="trans_${l02}__${l03}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${l02}__${l03}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${l02}__${l03}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>*
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!--<m_link name="${l03}"
            mass="0.7906"
            ixx="0.2679" ixy="0.0" ixz="0.0"
            iyy="0.2679" iyz="0.0" 
            izz="0.0651"
            origin_rpy="0 0 0" origin_xyz="0.015 0 -0.038"
            scale_xyz="0.01 0.01 0.01"  pathfile="package://billy_description/meshes/Link2_Assembly.stl"/>

    <m_joint name="${l03}__${l04}" type="revolute"
           axis_xyz="1 0 0"
           limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5"
           origin_rpy="0 0 3.1416" origin_xyz="0 0 -0.12"
           parent="${l03}" child="${l04}"/>

    <transmission name="trans_${l03}__${l04}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${l03}__${l04}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${l03}__${l04}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>*
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>-->

    <m_link name="${l03}"
            mass="0.5"
            ixx="0.2679" ixy="0.0" ixz="0.0"
            iyy="0.2679" iyz="0.0" 
            izz="0.0651"
            origin_rpy="0 0 0" origin_xyz="-0.0002 -0.02 -0.07"
            scale_xyz="0.01 0.01 0.01"  pathfile="package://billy_description/meshes/Link3_section_1.stl"/>

    <m_joint name="${l03}__${l04}" type="revolute"
           axis_xyz="0 0 1"
           limit_e="100" limit_l="-3.14" limit_u="3.14" limit_v="0.25"
           origin_rpy="0 0 0" origin_xyz="0 -0.005 -0.075"
           parent="${l03}" child="${l04}"/>

   <transmission name="trans_${l03}__${l04}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${l03}__${l04}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${l03}__${l04}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>*
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <m_link name="${l04}"
            mass="0.5"
            ixx="0.2679" ixy="0.0" ixz="0.0"
            iyy="0.2679" iyz="0.0" 
            izz="0.0651"
            origin_rpy="0 0 0" origin_xyz="0.005 0 -0.005"
            scale_xyz="0.01 0.01 0.01"  pathfile="package://billy_description/meshes/Link3_section_2.stl"/>


    <m_joint name="${l04}__${l05}" type="revolute"
           axis_xyz="0 0 1"
           limit_e="100" limit_l="-3.14" limit_u="3.14" limit_v="0.25"
           origin_rpy="0 1.5708 0" origin_xyz="0 0 -0.04"
           parent="${l04}" child="${l05}"/>

   <transmission name="trans_${l04}__${l05}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${l04}__${l05}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${l04}__${l05}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>*
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>


    <m_link name="${l05}"
            mass="0.5"
            ixx="0.2679" ixy="0.0" ixz="0.0"
            iyy="0.2679" iyz="0.0" 
            izz="0.0651"
            origin_rpy="0 0 0" origin_xyz="0 0 0.005"
            scale_xyz="0.01 0.01 0.01"  pathfile="package://billy_description/meshes/Link3_section_3.stl"/>


    <gazebo reference="${l05}">
        <mu1>1000</mu1>
        <mu2>1000</mu2>
      <kp>1000000.0</kp>
      <kd>100000.0</kd>
      <slip1>0</slip1>
      <slip2>0</slip2>
      <minDepth>0.001</minDepth>
      <maxVel>0</maxVel>
      <torsional>
          <ode>
              <coefficient>1000</coefficient>
              <slip>0</slip>
          </ode>
      </torsional>
    </gazebo>

    <m_joint name="${l05}__${l06}" type="revolute"
           axis_xyz="0 0 1"
           limit_e="100" limit_l="-3.14" limit_u="3.14" limit_v="0.25"
           origin_rpy="3.1416 0 1.5708" origin_xyz="0.0275 0 0.012"
           parent="${l05}" child="${l06}"/>

   <transmission name="trans_${l05}__${l06}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${l05}__${l06}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${l05}__${l06}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>*
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>


    <m_link name="${l06}"
            mass="0.5"
            ixx="0.2679" ixy="0.0" ixz="0.0"
            iyy="0.2679" iyz="0.0" 
            izz="0.0651"
            origin_rpy="0 0 0" origin_xyz="0 0 0"
            scale_xyz="0.01 0.01 0.01"  pathfile="package://billy_description/meshes/End_Effector_Top_Jaw.stl"/>

    <gazebo reference="${l06}">
        <mu1>1000</mu1>
        <mu2>1000</mu2>
      <kp>1000000.0</kp>
      <kd>100000.0</kd>
      <slip1>0</slip1>
      <slip2>0</slip2>
      <minDepth>0.001</minDepth>
      <maxVel>0</maxVel>
      <torsional>
          <ode>
              <coefficient>1000</coefficient>
              <slip>0</slip>
          </ode>
      </torsional>
    </gazebo>

    <joint name="front_wheel_holder_joint" type="fixed">
      <origin xyz="0.073 0 -0.005" rpy="0 0 3.14" />
      <parent link="base_link"/>
      <child link="front_wheel_holder_link" />
    </joint>
    <link name="front_wheel_holder_link">
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_FrontWheel.stl"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.0"/>
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_FrontWheel.stl"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.0"/>
      </collision>
    </link>
    <gazebo reference="front_wheel_holder_link">
      <material>Gazebo/Orange</material>
    </gazebo>

    <joint name="front_wheel_joint" type="fixed">
      <parent link="front_wheel_holder_link"/>
      <child link="front_wheel_link"/>
      <origin xyz="0 0 -0.028" rpy="1.57 0 0"/>
    </joint>
    <link name="front_wheel_link">
      <visual>
        <geometry>
          <cylinder length="0.01" radius="0.025"/>
          <!--sphere radius="0.19"/-->
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </visual> 
      <collision>
        <geometry>
          <cylinder length="0.01" radius="0.025"/>
          <!--sphere radius="0.19"/-->
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="0.4" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" 
                 izz="0.001" />
      </inertial>
    </link>
    <gazebo reference="front_wheel_link">
      <material>Gazebo/Orange</material>
    </gazebo>


    <joint name="wheel_left_holder_joint" type="fixed">
      <origin xyz="-0.118 -0.129 -0.023" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="wheel_left_holder_link" />
    </joint>
    <link name="wheel_left_holder_link">
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Motor_ShieldL_v1.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Motor_ShieldL_v1.stl"/>
        </geometry>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
      </collision>
    </link>
    <gazebo reference="wheel_left_holder_link">
      <material>Gazebo/Orange</material>
    </gazebo>

    <joint name="motor_left_joint" type="fixed">
      <origin xyz="0.038 0.004 0" rpy="0 0 0" />
      <parent link="wheel_left_holder_link"/>
      <child link="motor_left_link" />
    </joint>
    <link name="motor_left_link">
      <color name="yellow" />
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Motor.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Motor.stl"/>
        </geometry>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
      </collision>
    </link>
    <gazebo reference="motor_left_link">
      <material>Gazebo/Grey</material>
    </gazebo>

    <joint name="wheel_left_joint" type="continuous">
      <parent link="base_link"/>
      <child link="wheel_left_link"/>
      <origin xyz="-0.075 -0.150 -0.03" rpy="-1.57 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>
    <link name="wheel_left_link">
      <visual name="visual">
        <geometry>
          <!-- cylinder length="0.0206" radius="0.0550"/-->
          <cylinder length="0.031" radius="0.031"/>
        </geometry>
        <origin rpy="0.0 0 0" xyz="0 0 0"/>
      </visual>
      <collision>
        <geometry>
         <cylinder length="0.031" radius="0.031"/>
        </geometry>
        <origin rpy="0.0 0 0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="0.4" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" 
                 izz="0.001" />
      </inertial>
    </link>
    <gazebo reference="wheel_left_link">
      <material>Gazebo/Black</material>
    </gazebo>

    <joint name="wheel_right_holder_joint" type="fixed">
      <origin xyz="-0.080 0.129 -0.023" rpy="0 0 3.14" />
      <parent link="base_link"/>
      <child link="wheel_right_holder_link" />
    </joint>
    <link name="wheel_right_holder_link">
      <color name="yellow" />
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Motor_ShieldR_v1.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Motor_ShieldR_v1.stl"/>
        </geometry>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
      </collision>
    </link>
    <gazebo reference="wheel_right_holder_link">
      <material>Gazebo/Orange</material>
    </gazebo>

    <joint name="motor_right_joint" type="fixed">
      <origin xyz="0 0.004 0" rpy="0 3.14 0" />
      <parent link="wheel_right_holder_link"/>
      <child link="motor_right_link" />
    </joint>
    <link name="motor_right_link">
      <color name="yellow" />
      <visual>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Motor.stl"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
         <mesh scale="0.001 0.001 0.001" filename="package://billy_description/meshes/TurtlebotBilly_Motor.stl"/>
        </geometry>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
      </collision>
    </link>
    <gazebo reference="motor_right_link">
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <joint name="wheel_right_joint" type="continuous">
      <parent link="base_link"/>
      <child link="wheel_right_link"/>
      <origin xyz="-0.075 0.150 -0.03" rpy="-1.57 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>
    <link name="wheel_right_link">
      <visual name="visual">
        <geometry>
          <cylinder length="0.031" radius="0.031"/>
        </geometry>
        <origin rpy="0.0 0 0" xyz="0 0 0"/>
      </visual>
      <collision>
        <geometry>
         <cylinder length="0.031" radius="0.031"/>
        </geometry>
        <origin rpy="0.0 0 0" xyz="0 0 0"/>
      </collision>
      <inertial>
        <mass value="0.4" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" 
                 izz="0.001" />
      </inertial>
    </link>
    <gazebo reference="wheel_right_link">
      <material>Gazebo/Black</material>
    </gazebo>




    <!-- Gazebo Pluggins -->

    <gazebo><plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <legacyMode>false</legacyMode>
        <alwaysOn>true</alwaysOn>
        <rosDebugLevel>na</rosDebugLevel>
        <publishWheelTF>true</publishWheelTF>
        <publishTf>1</publishTf>
        <publishWheelJointState>true</publishWheelJointState>
        <updateRate>100.0</updateRate>
        <leftJoint>wheel_left_joint</leftJoint>
        <rightJoint>wheel_right_joint</rightJoint>
        <wheelSeparation>.03</wheelSeparation>
        <wheelDiameter>0.031</wheelDiameter>
        <wheelAcceleration>1.0</wheelAcceleration>
        <torque>20</torque>
        <wheelTorque>5</wheelTorque>
        <commandTopic>/cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <publishOdomTF>true</publishOdomTF>
        <robotBaseFrame>base_footprint</robotBaseFrame>
        <odometrySource>world</odometrySource> <!-- 'encoder' instead of 'world' is also possible -->
        <publishTf>1</publishTf>
      </plugin>
    </gazebo>

    <gazebo reference="camarm_connector_top_link"><sensor type="camera" name="myCam">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.04</horizontal_fov>
        <image>
          <width>720</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>50</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0</updateRate>
        <cameraName>camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
      </sensor>
    </gazebo>

    <!--    
    <gazebo reference="lidar_link"><sensor type="gpu_ray" name="head_rplidar_sensor">
        
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>400</samples>
              <resolution>1</resolution>
              <min_angle>-3.14159</min_angle>
              <max_angle>3.14159</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.15</min>
            <max>6.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_head_rplidar_controller" filename="libgazebo_ros_gpu_laser.so">
          <topicName>/scan</topicName>
          <frameName>lidar_link</frameName>
        </plugin>
      </sensor>
    </gazebo>-->

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      </plugin>
      <robotNamespace>/billy_camarm</robotNamespace>
      <robotParam>/billy_camarm/robot_description</robotParam>
    </gazebo>

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/billy_arm</robotNamespace>
        <robotParam>/billy_arm/robot_description</robotParam>
      </plugin>
    </gazebo>

</robot>