<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- param name="robot_description" command="cat '$(find billy_ros)/src/billy_description/urdf/billy_v2.xacro'" /-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find billy_description)/urdf/billy_gazebo.xacro'"/>
 
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.1"/>
 
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model rosbots -x $(arg x) -y $(arg y) -z $(arg z)" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find billy_description)/worlds/search_and_rescue_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
 
</launch>