<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- param name="robot_description" command="cat '$(find billy_ros)/src/billy_description/urdf/billy_v2.xacro'" /-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find billy_description)/urdf/billy_v0.xacro'"/>
 
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.1"/>
 
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model rosbots -x $(arg x) -y $(arg y) -z $(arg z)" />
 
</launch>
